.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 8px 0;
  /* border-bottom: 1px solid whitesmoke; */
}

.header__left {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  flex: 0.6;
  align-items: center;
  background-color: #eaf1fb;
  padding: 5px;
  border-radius: 30px;
}

.header__middle > .MuiSvgIcon-root {
  color: grey;
}

.header__middle > input {
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  outline: none;
  outline-width: 0;
  background: transparent;
  font-size: medium;
}

.header__middle > .header_inputTune {
  margin: 0 10px 0 0;
}

.header__right {
  padding: 0 10px 0 0;
  display: flex;
}
