.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 8px 0;
}

.header__left {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  min-width: 300px;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 5px;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.header__searchBar {
  display: flex;
  flex: 0.6 1 800px;
  align-items: center;
  background-color: #eaf1fb;
  padding: 5px;
  border-radius: 30px;
  max-width: 650px;
  min-width: 300px;
}

.header__searchBar > .MuiSvgIcon-root {
  color: grey;
}

.header__searchBar > input {
  border: none;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  outline: none;
  outline-width: 0;
  background: transparent;
  font-size: medium;
}

.header__searchBar > .header_inputTune {
  margin: 0 10px 0 0;
}

.header__settings {
  padding: 0 10px 0 0;
  display: flex;
}
