.mailRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: whitesmoke solid 1px;
  max-height: 200px;
  z-index: 999;
}

.mailRow:hover {
  box-shadow: 0px 4px 4px -2px rgb(0, 0, 0, 0.25);
  border-top: 1px solid whitesmoke;
}

.mailRow__options {
  width: 150px;
  max-width: 150px;
}

.mailRow__mailContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.mailRow__time {
  padding-right: 15px;
  font-size: 9px;
  font-weight: bold;
}

.mailRow__title {
  font-size: 12px;
  flex: 0.3;
}

.mailRow__title > h4 {
  text-align: left;
  width: 200px;
  max-width: 200px;
  padding: 0 10px 0 0;
  white-space: nowrap; /*defiens how whitespace is handled. Vague, 
  but most important is nowrap, which enables text to simply overflow its line without it expanding its container*/
  overflow: hidden; /*useful to use in conjunction with white-space: nowrap; since nowrap restricts 
  the container from growing, while overflow: hidden makes sure the overflowing text is hidden.*/
  text-overflow: ellipsis;
}

.mailRow__message {
  padding: 0 0 0 10px;
  display: flex;
  flex: 0.8; /*makes it so it takes up 80% of space of the parent flex container, if all the other flex items have flex: auto.*/
  align-items: center;
  /* font-size: 13px; */
}

.mailRow__message > h4 {
  width: 400px;
  white-space: nowrap; /*defiens how whitespace is handled. Vague, 
  but most important is nowrap, which enables text to simply overflow its line without it expanding its container*/
  overflow: hidden; /*useful to use in conjunction with white-space: nowrap; since nowrap restricts 
  the container from growing, while overflow: hidden makes sure the overflowing text is hidden.*/
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.mailRow__description {
  padding: 0 0 0 10px;
  font-weight: 400;
  color: grey;
}
